<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net461" />
  <package id="MathNet.Numerics.MKL.Win" version="2.3.0" targetFramework="net461" />
  <package id="Neural.NET" version="1.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="SharpLearning.Common.Interfaces" version="0.31.7" targetFramework="net461" />
  <package id="SharpLearning.Containers" version="0.31.7" targetFramework="net461" />
  <package id="SharpLearning.InputOutput" version="0.31.7" targetFramework="net461" />
  <package id="SharpLearning.Neural" version="0.31.7" targetFramework="net461" />
</packages>